html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.app {
    display: grid;
    flex-direction: column;
}

.bookimg {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.price h4,
.price p {
    margin: 2px 0;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #6b2447;
    color: #edd9d4;
    margin-top: 33px;
}

.learn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c47f6e;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.book {
    position: relative;
    width: 200px;
    height: 400px;
    border: 2px solid #d8aba0;
    border-radius: 5px;
    padding: 0;
    background-color: #edd9d4;
    transition: transform 0.2s;
}

.book:hover {
    transform: scale(1.05);
}

.button {
    width: 200px;
    height: 404px;
    border-radius: 5px;
    border: 2px solid #006c67;
    font-size: 20px;
    color: #006c67;
    background-color: #59c9a5;
    font-family: Georgia, "Times New Roman", Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1 / 2 / 2;
}

.button:hover {
    background-color: #006c67;
    color: #59c9a5;
}

.header {
    background-color: #481830;
    color: #d8aba0;
    margin-top: -15px;
    padding-top: 25px;
    padding-bottom: 20px;
    margin-right: -10px;
    margin-left: -10px;
    text-align: center;
    font-size: 30px;
}

.link {
    color: #743d2f;
    text-decoration: none;
}

.link:visited {
    color: #2b1712;
}

.footer {
    background-color: #d5a69a;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: -10px;
    margin-left: -10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.content {
    padding: 2rem;
}

.items {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

.bookgrid {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.book.darkened {
    background-color: #c9b1aa;
}

.form-container {
    padding: 0 2em;

    > form {
        padding: 2em;

        button {
            margin-left: 12em;
        }
    }

    .form-control {
        label {
            display: inline-block;
            width: 10em;
        }
        margin: 1em 0;
    }
}

.container {
    padding: 1em;
}

dialog::backdrop {
    background: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}

dialog {
    border-radius: 5px;
    border: #006c67 solid;
    border-width: 5px;
    padding: 1.5em;
}

.formtitle {
    color: #59c9a5;
}

.save {
    padding: 0.5em 1.5em;
    text-transform: uppercase;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.save {
    color: #006c67;
    background-color: #59c9a5;
    border-radius: 2px;
    border: 2px solid #006c67;
}

.x {
    background: #801e18;
    padding: 0 0.5em;
    border: 2px solid;
    border-color: #661813;
    cursor: pointer;
    border-radius: 5px;
    color: #edd9d4;
    width: 200px;
    height: 30px;
    margin-top: 5px;
}

.edit {
    background: #006c67;
    padding: 0 0.5em;
    border: 2px solid;
    border-color: #006c67;
    cursor: pointer;
    border-radius: 5px;
    color: #edd9d4;
    width: 200px;
    height: 30px;
    margin-top: 5px;
}
